#!/bin/sh

PORT=8000
STATIC_DIR=/public/static/
STATIC_HREF=/static/
MAX_FILES=10
SERVER_NAME=sift-server
GITHEAD=

MYSQL_USER=user
MYSQL_PASS=pass
MYSQL_DB=db
MYSQL_PORT=3306
MYSQL_HOSTNAME=hostname

SMTP_HOST=smtp.hostname.com
SMTP_PORT=465
SMTP_USERNAME=from@email.com
SMTP_PASSWORD=password
FROM_EMAIL='"Emailer" <from@email.com>'
